@font-face {
  font-family: norse-bold;
  src: url(./assets/norse-bold.otf);
}

:root {
  --clr-primary: #f9fafc;
  --clr-accent: #596d48;
  --clr-secondary: #e5e7eb;

  --border: #e5e7eb;

  --valid: blue;
  --invalid: red;

  --ff-logo: norse-bold;
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

body {
  background-color: var(--clr-primary);
}

main {
  display: flex;
  align-items: center;
  height: 100vh;
}

.background-image {
  height: 100vh;
}

.input-container {
  background-color: white;
  display: flex;
  box-shadow: 0 5px 2px var(--border);
}

.heading {
  font-weight: 600;
  padding: 2rem;
}

.introduction {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.signup-form > div {
  padding: 2rem;
}

.flex-group {
  display: flex;
  gap: 2.5rem;
}

fieldset {
  border: none;
  padding: 0;
}

.form-container input {
  margin-bottom: 0.5rem;
  border: 1.5px solid var(--border);
}

.form-container input:focus {
  outline: 1.5px solid blue;
}

.form-container input:invalid {
  outline: 1.5px solid red;
}

label {
  text-transform: uppercase;
  display: block;
}

.create-button {
  background-color: var(--clr-accent);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color: white;
  margin-bottom: 1rem;
}

.login-link {
  color: var(--clr-accent);
  text-decoration: none;
  font-weight: 600;
}
