@font-face {
  font-family: norse-bold;
  src: url(./assets/norse-bold.otf);
}

:root {
  --clr-primary: #f9fafc;
  --clr-accent: #596d48;
  --clr-secondary: #e5e7eb;

  --border: #e5e7eb;

  --valid: blue;
  --invalid: red;

  --ff-logo: norse-bold;
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

body {
  background-color: var(--clr-primary);
}

.sign-up-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container {
  width: 35%;
}

.heading-container,
.input-container,
.button-container {
  padding: 1.5rem;
}

.input-container {
  background-color: white;
  display: flex;
  box-shadow: 10px 3px 5px 5px var(--border);
}

.flex-group {
  display: flex;
  gap: 2.5rem;
}

.form-container input {
  margin-bottom: 0.5rem;
  border: 1.5px solid var(--border);
}

label {
  text-transform: uppercase;
  display: block;
}

.create-button {
  background-color: var(--clr-accent);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color: white;
  margin-bottom: 1rem;
}

.login-span {
  color: var(--clr-accent);
}
