:root {
  --clr-primary: #f9fafc;
  --clr-white: #fff;
  --clr-border: #e5e7eb;
  --clr-border-darker: #d1d5db;
  --clr-accent: #0f766e;
  --clr-accent-darker: #115e59;

  --clr-fn-header: #1f2937;
  --clr-fn-pararaph: #374151;
  --clr-fn-sub-text: #6b7280;

  --fw-regular: 500;
  --fw-bold: 600;
  --fw-black: 700;

  --ff-inter: "Inter", sans-serif;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  background-color: var(--clr-primary);
  font-weight: var(--fw-regular);
  font-family: var(--ff-inter);
  color: var(--clr-fn-pararaph);
  font-size: 1.125rem;
}

.header {
  background-color: var(--clr-white);
  border-bottom: 1.5px solid var(--clr-border);
  text-align: center;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.header h1 {
  font-size: 1.875rem;
  color: var(--clr-fn-header);
  font-weight: var(--fw-bold);
}

.logo {
  height: 3rem;
}

.sketch-container {
  padding: 0 1rem;
  margin-bottom: 3rem;
}

.sketch-and-option-wrapper {
  display: flex;
  flex-direction: column;
}

.sketching-area {
  width: 18.75rem;
  height: 18.75rem;
  margin: 2.5rem auto 1.5rem;

  background-color: var(--clr-white);
  border: 2px solid var(--clr-border);
  border-radius: 0.5rem;

  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.options {
  width: 100%;
  max-width: 32rem;
  margin: 0 auto;
}

.drawing-tools {
  bottom: 0;
  right: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0.5em;

  background-color: var(--clr-white);
  border: 1.5px solid var(--clr-border);
  gap: 0.5rem;
}

.previous-color-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  border-bottom: 1.5px solid var(--clr-border);
  margin-bottom: 0.5rem;
  padding: 0.5rem 0;
}

.previous-color {
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
  border: 1px solid var(--cream);
  cursor: pointer;
}

input[type="color"] {
  -webkit-appearance: none;
  width: 2rem;
  height: 2rem;
  border: none;
  padding: 0;
  background-color: var(--clr-primary);
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 50px;
}

.range-slider {
  display: flex;
  flex-direction: column;
}

.values {
  color: var(--clr-fn-sub-text);
  font-size: 0.875rem;
  display: flex;
  justify-content: space-between;
}

.tools {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 0.875rem;
  width: 100%;
}

.tools button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 0.25rem;
  cursor: pointer;
  max-width: 100px;
  width: 100%;
}

.erasing-tool {
  background-color: #e5e7eb;
  color: #374151;
  border: none;
}

.erasing-tool:hover {
  background-color: var(--clr-border-darker);
}

.clearing-tool {
  color: var(--clr-white);
  background-color: var(--clr-accent);
}

.clearing-tool:hover {
  background-color: var(--clr-accent-darker);
}

.active {
  background-color: var(--clr-border-darker);
}

@media (min-width: 768px) {
  .sketching-area {
    margin: 0;
    height: 25rem;
    width: 25rem;
  }

  .sketch-and-option-wrapper {
    flex-direction: row-reverse;
    justify-content: center;
  }

  .options {
    margin: 0;
    width: 300px;
    padding-right: 3rem;
  }

  .sketch-container {
    margin-top: 3rem;
  }
}

@media (min-width: 1024px) {
  .sketch-container {
    justify-content: center;
    display: flex;
  }

  .sketching-area {
    min-height: 31.25rem;
    min-width: 31.25rem;
  }

  .drawing-tools {
    position: static;
    width: 300px;
    background-color: var(--clr-primary);
    border: none;
    align-items: flex-start;
  }

  .tools {
    flex-direction: column;
  }

  .tools button {
    max-width: 150px;
    padding: 0.75rem 1.5rem;
  }

  input[type="color"] {
    background-color: var(--clr-primary);
    height: 5rem;
    width: 5rem;
  }
}
