* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
}

/* Header */

header {
  background-color: #28282a;
  display: flex;
  justify-content: center;
  height: 50px;
  border-bottom: 2px solid hsl(0, 0%, 22%);
}

nav {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > ul {
  display: flex;
  width: 300px;
  justify-content: space-around;
  padding: 0;
}

ul > li {
  display: block;
}

main {
  height: 100vh;
  background-color: #121212;
}

/* Fonts */
nav > ul > li > a {
  color: #d6d6d6;
  text-decoration: none;
}

.logo-name {
  margin: 0;
  color: #d6d6d6;
}

/* Sections */

/* Hero */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}
.container {
  height: 70vh;
  width: 75%;
  background-color: #1e1e1f;
  border: 2px solid hsl(0, 0%, 22%);
  border-radius: 25px;
}
