* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
}

/* Header */

header {
  background-color: #28282a;
  justify-content: center;
  height: 50px;
  border-bottom: 2px solid hsl(0, 0%, 22%);
}

nav {
  width: 70%;
  justify-content: space-between;
  align-items: center;
}

nav > ul {
  width: 300px;
  justify-content: space-around;
  padding: 0;
}

ul > li {
  display: block;
}

main {
  background-color: #121212;
}

/* Fonts */
nav a,
.logo-name {
  color: #fafafa;
  text-decoration: none;
  font-weight: 800;
  font-size: 1rem;
}

.logo-name {
  font-size: 1.2rem;
}

.logo-name,
.product-title,
.items-title,
.order-description,
.order-title,
.author,
nav a,
p {
  font-family: "Roboto Condensed", sans-serif;
}

p {
  margin: 0;
}

.tagline-title {
  color: #fafafa;
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  margin: 0;
}

.tagline {
  font-size: 1.2rem;
  margin: 1.2rem 0;
  color: #d6d6d6;
}

.items-title {
  margin: 0;
  color: #fafafa;
  font-size: 2rem;
  margin-bottom: 40px;
  font-weight: 900;
  padding-top: 40px;
}

.product-title {
  font-weight: 900px;
}

.product-description {
  margin: 0;
  color: #d6d6d6;
}

.quote {
  font-size: 2rem;
  color: #fafafa;
  font-weight: 800;
  text-align: center;
}

.order-title {
  margin: 0;
  font-size: 1.7rem;
  margin-bottom: 10px;
  color: #fafafa;
}

.order-description {
  font-size: 1.2rem;
  color: #d6d6d6;
}

.item-description {
  color: #fafafa;
  text-align: center;
}

/* Sections */

/* Hero */
.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.centered {
  align-items: center;
  justify-content: center;
}

.hero {
  height: 90vh;
}
.container {
  height: 70vh;
  width: 75%;
  background-color: #1e1e1f;
  border: 2px solid hsl(0, 0%, 22%);
  border-radius: 25px;
}

.description,
.image {
  height: 100%;
  width: 50%;
}

.description {
  align-items: flex-start;

  padding: 60px;
}

.image img {
  height: 80%;
  width: 80%;
  object-fit: cover;

  border-radius: 12.5px;
}

/* Items*/
.items {
  height: 80vh;
  background-color: #121212;
}

.item {
  width: 300px;
}

.gallery {
  width: 75%;
  justify-content: space-between;
}

.frame {
  border-radius: 25px;
  background-color: #1e1e1f;
  border: 2px solid hsl(0, 0%, 22%);
  height: 300px;
}

.frame img {
  width: 80%;
  height: 80%;
  object-fit: cover;
  border-radius: 12.5px;
}

/* Quote */
.quote-section {
  height: 70vh;
  background-color: #121212;
}

.quote-container {
  background-color: #1e1e1f;
  width: 100%;
  height: 300px;
  padding: 40px;
}

.quote {
  color: white;
}

/* Order section */
.order-section {
  height: 30vh;
  background-color: #121212;
}

.banner {
  width: 70%;
  height: 150px;
  background-color: #1e1e1f;
  border-radius: 16px;

  align-items: center;
  justify-content: space-around;
}

button.order {
  padding: 10px 20px;
  border-radius: 16px;
  border: none;

  font-family: "Roboto Condensed", sans-serif;
  font-size: 1rem;
}

/* Footer */
footer {
  height: 100px;
  width: 100%;
  background-color: #121212;
  color: white;

  gap: 20px;
}

.socials img {
  width: 30px;
}

/* Hover effects */

button.order:hover {
  background-color: #ffdb70;
  cursor: pointer;
}
