* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
}

/* Header */

header {
  background-color: #28282a;
  display: flex;
  justify-content: center;
  height: 50px;
  border-bottom: 2px solid hsl(0, 0%, 22%);
}

nav {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > ul {
  display: flex;
  width: 300px;
  justify-content: space-around;
  padding: 0;
}

ul > li {
  display: block;
}

main {
  height: 100vh;
  background-color: #121212;
}

/* Fonts */
nav > ul > li > a {
  color: #d6d6d6;
  text-decoration: none;
}

.logo-name {
  margin: 0;
  color: #d6d6d6;
}

.items-title {
  margin: 0;
  color: white;
  margin-bottom: 40px;
}

/* Sections */

/* Hero */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}
.container {
  display: flex;

  height: 70vh;
  width: 75%;
  background-color: #1e1e1f;
  border: 2px solid hsl(0, 0%, 22%);
  border-radius: 25px;
}

.description,
.image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50%;
}

.image img {
  height: 80%;
  width: 80%;
  object-fit: cover;
}

/* Items*/
.items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 80vh;
  background-color: #121212;
}

.gallery {
  width: 75%;
  display: flex;
  justify-content: space-between;
}

.frame {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 25px;
  background-color: #1e1e1f;
  border: 2px solid hsl(0, 0%, 22%);
  height: 300px;
  width: 300px;
}

.frame img {
  width: 80%;
  height: 80%;
  object-fit: cover;
}
