:root {
  /* colors */
  --border-color: #1c685e;
  --green-fill: #5a9e7b;
  --primary-color: #fff;

  /* font-sizes */
  --root-font-size: 16px;
  font-size: var(--root-font-size);

  /* font-families */
  --font-family: "Montserrat", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

@font-face {
  font-family: "Montserrat";
  src: url("assets/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}

body {
  color: var(--primary-color);
  font-family: var(--font-family);
  margin: 0;
  background-image: url("assets/images/forest.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.game-container {
  width: 100%;
  max-width: 900px;
  background-color: rgba(28, 104, 94, 0.4);
  border: 3px solid var(--border-color);
  border-radius: 20px;
}

.header {
  padding: 10px 0;
  border-bottom: 3px solid var(--border-color);
  border-radius: 20px 20px 0 0;
  background-color: var(--green-fill);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.battle-field {
  padding: 20px 0;
}

.choices-container {
  display: flex;
  justify-content: space-around;
}

.left,
.center,
.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.player-buttons {
  padding: 20px;
  border-radius: 0 0 20px 20px;
  background-color: var(--green-fill);
  border-top: 3px solid var(--border-color);
}

.choices {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.choices button {
  padding: 10px 30px;
  border-radius: 10px;
  border: none;
  width: 200px;
  color: var(--primary-color);
}

#water {
  background-color: #2e4595;
}

#fire {
  background-color: #f47932;
}

#grass {
  background-color: #4b8166;
}

.stage {
  display: flex;
  flex-direction: column;
  min-height: 250px;
  justify-content: flex-end;
  align-items: center;
}

.pokemon-choice {
  position: relative;
  width: 110px;
  top: 50px;
}

.computer-choice .pokemon-choice {
  transform: scaleX(-1);
}

.final-result-text {
  min-height: 200px;
  font-size: 3rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
}

/* Fonts */
.choices-container {
  font-size: 1.7rem;
  color: var(--primary-color);
  text-shadow: -2px -2px 0 var(--border-color), 2px -2px 0 var(--border-color),
    -2px 2px 0 var(--border-color), 2px 2px 0 var(--border-color),
    -2px 0 0 var(--border-color), 2px 0 0 var(--border-color),
    0 -2px 0 var(--border-color), 0 2px 0 var(--border-color);
  letter-spacing: 2px;
  font-weight: 700;
}

.player-buttons button {
  cursor: pointer;
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: 700;
}

.round-result {
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  margin: 0;
}

.versus {
  font-size: 3rem;
}

/* End of fonts */

@media only screen and (max-width: 1080px) {
  .game-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    border-radius: 0;
    max-width: none;
  }

  .header {
    border-radius: 0 0 20px 20px;
  }

  .choices-container {
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    margin: 0;
  }

  .battle-field {
    height: 100%;
  }

  .left,
  .right,
  .center {
    flex-direction: row-reverse;
  }

  .player-buttons {
    border-radius: 20px 20px 0 0;
  }

  .stage {
    min-height: 80px;
  }

  /* Fonts */
  .round-result {
    font-size: 1.5rem;
  }

  .player-buttons button {
    font-size: 1rem;
  }

  .versus {
    margin: 10px 0;
  }
}
