:root {
  /* colors */
  --border-color: #1c685e;
  --green-fill: #5a9e7b;
  --primary-color: #fff;

  /* font-sizes */
  --root-font-size: 16px;
  font-size: var(--root-font-size);

  /* font-families */
  --font-family: "Montserrat", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  color: var(--primary-color);
  font-family: var(--font-family);
  margin: 0;
  background-image: url("assets/images/forest.jpg");
  background-size: cover;
}

.choices-container {
  font-size: 2.3rem;
  color: var(--primary-color);
  -webkit-text-stroke: 2px var(--border-color);
}

.player-buttons {
  font-size: 1.2rem;
}
